* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #E2E8F0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  gap: 5px 0;
}

.header {
  background-color: #FFF;
  grid-column: 2;
  box-shadow: 0 5px 5px #ddd;
  padding: 15px 30px;

  display: grid;
  grid-template: 1fr 1fr / 6fr 1fr 2fr;
  align-items: center;
}

.search > form {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 10px;
}

.search-bar {
  background-color: #E2E8F0;
  border: none;
  width: 90%;
  border-radius: 20px;
  padding: 3px 10px;
  line-height: 1.5;
  flex-grow: 1;
}

.notice {
  justify-self: end;
}

.notice button {
  border: none;
  background: none;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
  align-items: center;
  font-weight: bold;
}

.user-info .user-icon {
  justify-self: right;
}

.user-icon img {
  width: 35px;
  border-radius: 18px;
}

.greeting {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 15px;
  align-items: start;
  font-weight: bold;
}

.greeting .user-icon img {
  width: 50px;
  border-radius: 25px;
}

.greeting-msg span {
  font-size: 0.8rem;
}

.greeting-msg div {
  font-size: 1.2rem;;
}

.buttons {
  grid-column: 2 / -1;

  display: grid;
  grid-column: repeat(3, 1fr);
}

.buttons ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  gap: 15px;
  align-items: center;
  text-align: center;
}

.buttons ul li button {
  border: none;
  background-color: #3492D4;
  color: #FFF;
  padding-block: 0.5rem;
  border-radius: 50px;
  width: 100%;
}

.sidebar {
  background-color: #3492D4;
  color: #FFF;
  box-shadow: 1px 0 5px #E4E4E4;
  grid-row: 1 / -1;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 30px;
}

span:has(svg) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding {
  font-size: 24px;
}

.branding, .nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation ul {
  list-style: none;
}

li.nav-item:not(:last-child) {
  margin-bottom: 5px;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px 30px;
  gap: 20px;
}

.projects {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 10px;
}

.section-title {
  font-weight: bold;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 5px 5px #ddd;
  border-left: 10px solid #F0B442;
  padding: 25px 20px;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 5px;
}

.card > .project-title {
  font-weight: bold;
}

.card > .project-description {
  color: #919191;
  font-size: 0.9rem;
}

.card-buttons > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  justify-content: right;
  gap: 15px;
}

.announcement, .trending {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 10px;
}

.annoucement-card {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 5px 5px #ddd;
  padding: 5px 20px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.announcement-info {
  padding: 15px 10px;
}

.announcement-info:not(:last-child) {
  border-bottom: 1px solid #D2D2D2;
}

.announcement-title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.announcement-detail {
  color: #919191;
  font-size: 0.8rem;
}

.trending-card {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 5px 5px #ddd;
  padding: 5px 20px;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.trending .user-icon img {
  width: 50px;
  border-radius: 25px;
}

.trending-ac {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  align-items: center;
}

.user-icon {
  display: grid;
}

.user-ac {
  font-size: 0.9rem;
}

.ac-name {
  display: block;
}

.ac-description {
  color: #919191;
}