* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  background-color: #E2E8F0;
  gap: 5px 0;
}

.header {
  background-color: #FFF;
  grid-column: 2;
  box-shadow: 0 5px 5px #ddd;
  padding: 2% 3%;

  display: grid;
  grid-template: 1fr 1fr / 6fr 1fr 2fr;
}

.search > form {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 10px;
}

.search-bar {
  background-color: #E2E8F0;
  border: none;
  width: 90%;
  border-radius: 20px;
  padding: 3px 10px;
  line-height: 1.5;
  flex-grow: 1;
}

.sidebar {
  background-color: #3492D4;
  color: #FFF;
  box-shadow: 1px 0 5px #E4E4E4;
  grid-row: 1 / -1;
  font-weight: bold;
}
